---
import { Image } from "astro:assets";
import Whatsapp from "../assets/WhatsApp.svg";
import Instagram from "../assets/Instagram.svg";
import Facebook from "../assets/Facebook.svg";
---

<div class='flex flex-col items-center gap-8'>
    <h2 class='max-w-xs text-center text-5xl font-extrabold'>Contáctanos</h2>

    <div class='w-full sm:w-4/5'>
        <iframe
            class='w-full h-[350px] sm:h-[400px] rounded-2xl'
            title='mapa'
            src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.076693650861!2d-69.88930792540015!3d19.32247804418968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eae4fb4e3206e83%3A0xfea742869c761b2f!2sFactorPhone!5e0!3m2!1ses-419!2sdo!4v1711549522697!5m2!1ses-419!2sdo'
            style='border:0;'
            allowfullscreen=''
            loading='lazy'
            referrerpolicy='no-referrer-when-downgrade'></iframe>
    </div>

    <div class='flex flex-col items-center gap-8'>
        <p class='lg:text-2xl text-center'>
            <strong>Puedes escribirnos vía WhatsApp:</strong>
        </p>

        <a
            class='flex flex-col items-center'
            href='https://wa.me/8292093909'
            target='_blank'>
            <Image src={Whatsapp} alt='WhatsApp logo' />
            <p class='font-semibold'>WhatsApp</p>
            <p>+1 (829) 209-3909</p>
        </a>

        <p class='lg:text-2xl text-center'>
            <strong
                >O también puedes encontrarnos en nuestras redes sociales:
            </strong>
        </p>

        <div class='flex gap-8'>
            <a
                class='flex flex-col items-center'
                href='https://instagram.com/factor_phone/'
                target='_blank'>
                <Image src={Instagram} alt='WhatsApp logo' />
                <p class='font-semibold'>Instagram</p>
            </a>
            <a
                class='flex flex-col items-center'
                href='https://facebook.com/FPmovil'
                target='_blank'>
                <Image src={Facebook} alt='WhatsApp logo' />
                <p class='font-semibold'>Facebook</p>
            </a>
        </div>

        <p class='lg:text-2xl font-normal'>
            Estamos aquí para responder tus preguntas y ayudarte en lo que
            necesites. Si tienes alguna consulta, sugerencia o simplemente
            quieres decir hola, ¡no dudes en ponerte en contacto con nosotros!
        </p>

        <p class='text-2xl lg:text-3xl text-center font-semibold'>
            ¡Esperamos tu mensaje pronto!
        </p>
    </div>
</div>
