<div class='flex flex-col items-center gap-8'>
    <h2 class='max-w-xs text-center text-5xl font-extrabold'>Nosotros</h2>

    <div class='flex flex-col gap-8'>
        <p class='lg:text-2xl font-normal'>
            Nos dedicamos apasionadamente a la reparación y venta de celulares
            desde 2015. Contamos con un equipo de expertos en tecnología y un
            compromiso inquebrantable con la satisfacción del cliente, nos
            esforzamos por brindar los mejores servicios y productos en el
            mercado.
        </p>
        <p class='lg:text-2xl font-normal'>
            <strong>Nuestro objetivo es simple:</strong> ofrecer soluciones rápidas
            y efectivas para todas tus necesidades de telefonía móvil. Ya sea que
            necesites reparar una pantalla rota, actualizar tu dispositivo o adquirir
            el último modelo, estamos aquí para ayudarte. En Factor Phone, valoramos
            la confianza que nuestros clientes depositan en nosotros y nos esforzamos
            por superar sus expectativas en cada interacción. Confía en nosotros
            para mantener tus dispositivos móviles funcionando de manera óptima.
        </p>

        <p class='text-2xl lg:text-3xl text-center font-semibold'>
            ¡Gracias por elegirnos!
        </p>
    </div>
</div>
